@import 'global';

.container {
  @include flex-center;
  height: 13.5rem;
  width: 55%;
  border-radius: 15rem;
  background-color: $blue;

  .bar-menu {
    @include flex-center;
    position: relative;
    gap: 6.5rem;
    margin-bottom: 0.5rem;
  }
}

.dot {
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  background-color: $white;
  position: absolute;
  bottom: 0.5rem;
  transition: left 0.5s ease;
}
