<app-loading class="loading" *ngIf="loading"></app-loading>

<div class="container" *ngIf="!loading">
  <p class="title" *ngIf="isCreate">Agregar Pasajeros</p>
  <p class="title" *ngIf="!isCreate">Lista de Pasajeros</p>
  <form [formGroup]="passengerForm" class="driver-form" *ngIf="isCreate">
    <mat-form-field class="field">
      <mat-label>Seleccione los usuarios</mat-label>
      <input
        [matAutocomplete]="auto"
        matInput
        type="text"
        [placeholder]="display()"
        formControlName="name"
      >
      <mat-hint>Busque los empleados por nombre o número</mat-hint>
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let passenger of filteredPassengers | async" value="">
          <mat-checkbox
            [checked]="isPassengerSelected(passenger)"
            (click)="toggleSelection(passenger)"
          >
            {{ passenger.Nombres }} {{ passenger.Apellidos }}
          </mat-checkbox>
      </mat-option>
    </mat-autocomplete>
  </form>
  <mat-error *ngIf="error" class="error">Seleccione al menos 1 pasajero</mat-error>
  @for (passenger of currentPassengers; track $index) {
    <div class="passenger" *ngIf="!isCreate">
      <p>{{ passenger.ID_Empleado }} - {{ passenger.Nombres }} {{ passenger.Apellidos }}</p>
    </div>
  }
  <div class="buttons">
    <app-primary-button styleClass="btn-red" class="btn" (btnClick)="onCancel()">
      Cancelar
    </app-primary-button>
    <app-primary-button class="btn" (btnClick)="onSubmit()" *ngIf="isCreate">Agregar</app-primary-button>
  </div>
</div>
