<div class="container">
  <div class="bar-menu">
    <app-side-nav-button
      icon='dashboard'
      label='Dashboard'
      [selected]="selectedOption === 'dashboard'"
      (click)="selectOption('dashboard')"
    >
    </app-side-nav-button>
    <app-side-nav-button
      icon='vehicles'
      label='Vehículos'
      [selected]="selectedOption === 'vehicles'"
      (click)="selectOption('vehicles')"
    >
    </app-side-nav-button>
    <app-side-nav-button
      icon='drivers'
      label='Conductores'
      [selected]="selectedOption === 'drivers'"
      (click)="selectOption('drivers')"
    >
    </app-side-nav-button>
    <app-side-nav-button
      icon='maintenance'
      label='Mantenimiento'
      [selected]="selectedOption === 'maintenance'"
      (click)="selectOption('maintenance')"
    >
    </app-side-nav-button>
    <app-side-nav-button
      icon='requests'
      label='Solicitudes'
      [selected]="selectedOption === 'requests'"
      (click)="selectOption('requests')"
    >
    </app-side-nav-button>
    <app-side-nav-button
      icon='logs'
      label='Bitácora'
      [selected]="selectedOption === 'logs'"
      (click)="selectOption('logs')"
    >
    </app-side-nav-button>
    <div class="dot" [style.left.rem]="iconTopPosition"></div>
  </div>
</div>
