<app-loading *ngIf="loading"></app-loading>

<div class="container" *ngIf="!loading">
  <p class="title" *ngIf="isCreate">Crear Proveedor</p>
  <p class="title" *ngIf="!isCreate">Editar Proveedor</p>

  <form [formGroup]="supplierForm" class="form">
    <div class="flex-center">
      <mat-form-field class="field">
        <mat-label class="label">Proveedor</mat-label>
        <input
          matInput
          required
          class="input"
          formControlName="name"
          placeholder="Ingrese el nombre del proveedor"
        >
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label class="label">Número de Teléfono</mat-label>
        <input
          matInput
          class="input"
          formControlName="phone"
          placeholder="Ingrese el teléfono del proveedor"
        >
      </mat-form-field>
    </div>
    <div class="flex-center">
      <mat-form-field class="field">
        <mat-label class="label">Correo Electrónico</mat-label>
        <input
          matInput
          class="input"
          formControlName="email"
          placeholder="Ingrese el email del proveedor"
        >
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label class="label">RTN</mat-label>
        <input
          matInput
          class="input"
          formControlName="rtn"
          placeholder="Ingrese el RTN del proveedor"
        >
      </mat-form-field>
    </div>
    <div class="flex-center">
      <mat-form-field class="field textarea-field">
        <mat-label class="label">Dirección</mat-label>
        <textarea
          matInput
          class="input textarea"
          formControlName="address"
          placeholder="Ingrese la dirección del proveedor"
        >
        </textarea>
      </mat-form-field>
    </div>
  </form>

  <mat-error class="error" *ngIf="emailError">Pon un correo válido*</mat-error>
  <mat-error class="error" *ngIf="error">Recuerda llenar todos los campos requeridos*</mat-error>
  <div class="buttons">
    <app-primary-button styleClass="btn-red" class="btn" (btnClick)="onCancel()">Cancelar</app-primary-button>
    <app-primary-button class="btn" (btnClick)="onSubmit()">Confirmar</app-primary-button>
  </div>
</div>
