@import 'global';

.container {
  @include flex-center-column;
  gap: 2rem;
  padding: 4rem;
  width: 75rem;
  border-radius: 2rem;
  color: $dark-blue;

  .error {
    font-size: 1.5rem;
    color: $red;
  }

  .title {
    font-size: 3rem;
    font-weight: bold;
  }

  .file-uploader {
    width: 100%;
  }

  .buttons, .form {
    @include flex-center-column;
    width: 100%;
    gap: 2rem;
  }

  .buttons {
    flex-direction: row;
  }

  .btn {
    width: 50%;
  }
}

.field {
  width: 100%;
  height: 8rem;

  .label, .input {
    font-size: 2rem;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.textarea-field {
  height: 12rem;

  .textarea {
    height: 12rem;
    font-size: 2rem;
  }
}
