<app-loading class="loading" *ngIf="loading"></app-loading>
<div class="container" *ngIf="!loading">
  <section class="panel">
    <div class="search-bar-wrapper">
      <i class="uil uil-search-alt"></i>
      <input
        [(ngModel)]="searchInput"
        class="search-bar"
        (input)="onSearch(searchInput)"
        type="text"
        placeholder="Buscar"
      />
    </div>
    <div class="available">
      <p class="panel-title">Salidas el último mes</p>
      <p class="panel-label">{{ monthOutput }}</p>
    </div>
    <div class="available">
      <p class="panel-title">Entradas el último mes</p>
      <p class="panel-label">{{ monthInput }}</p>
    </div>
    <div class="buttons">
      <app-primary-button class="button" (btnClick)="generatePDF()">IMPRIMIR LISTADO</app-primary-button>
      <mat-form-field class="field">
        <mat-label class="label">Filtro</mat-label>
        <mat-select>
            <mat-option value="Salidas" (click)="filter('Salida')"> Salidas </mat-option>
            <mat-option value="Entradas" (click)="filter('Entrada')"> Entradas </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </section>
  <section class="table-container">
    <app-no-result *ngIf="filteredHistory.length === 0"></app-no-result>
    <table mat-table [dataSource]="filteredHistory | paginate: { itemsPerPage: 7, currentPage: page }" class="table" *ngIf="filteredHistory.length > 0">

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Fecha</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ getDate(element.date) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Producto</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          <p>{{ element.product }}</p>
          <p *ngIf="element.batched"> {{ element.range }} </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="motive">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Razón</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ element.motive }}
        </td>
      </ng-container>

      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Unidad</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ element.unit }}
        </td>
      </ng-container>

      <ng-container matColumnDef="initialQuantity">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Cantidad Inicial</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ element.initialQuantity }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Tipo</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ element.type }}
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Cantidad</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ element.quantity }}
        </td>
      </ng-container>

      <ng-container matColumnDef="finalQuantity">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Cantidad Final</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ element.finalQuantity }}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Precio</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          L. {{ element.price }}
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Total</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          L. {{ element.price*element.quantity }}
        </td>
      </ng-container>

      <ng-container matColumnDef="document">
        <th mat-header-cell *matHeaderCellDef class="table-cell title"><i class="uil uil-file-upload-alt"></i></th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          <i class="uil uil-file-upload-alt" *ngIf="element.document" (click)="goToUrl(element.document)"></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <pagination-controls
      class="my-pagination"
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
    >
    </pagination-controls>
  </section>
  <app-date-filter class="date-filter" (dateRangeChanged)="filterDates($event)"></app-date-filter>
</div>
