<app-loading class="loading" *ngIf="loading"></app-loading>
<div class="container" *ngIf="!loading">
  <section class="panel">
    <div class="search-bar-wrapper">
      <i class="uil uil-search-alt"></i>
      <input
        [(ngModel)]="searchInput"
        class="search-bar"
        (input)="onSearch(searchInput)"
        type="text"
        placeholder="Buscar"
      />
    </div>
    <div class="available">
      <p class="panel-title">En el último mes se han hecho</p>
      <p class="panel-label">{{ monthlyDeliveries }} Entrega{{ monthlyDeliveries > 1 ? 's' : '' }}</p>
    </div>
    <div class="buttons">
      <app-primary-button class="button" (btnClick)="openCreateUpdateSupplierModal()">
        CREAR PROVEEDOR
      </app-primary-button>
      <app-primary-button class="button" (btnClick)="generatePDF()">IMPRIMIR LISTADO</app-primary-button>
    </div>
  </section>
  <section class="table-container">
    <app-no-result *ngIf="filteredSuppliers.length === 0"></app-no-result>
    <table mat-table [dataSource]="filteredSuppliers | paginate: { itemsPerPage: 7, currentPage: page }" class="table" *ngIf="filteredSuppliers.length > 0">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Proveedor</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Correo</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ element.email || 'No Registrado' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Teléfono</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ element.phone || 'No Registrado' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Dirección</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ element.address || 'No Registrado' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="rtn">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">RTN</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ element.rtn || 'No Registrado' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="latestEntry">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Fecha Última Entrega</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ getLatestEntry(element) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="table-cell title"># de Entregas</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ getAmount(element) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Acciones</th>
        <td mat-cell *matCellDef="let element" class="table-cell icons">
          <i class="uil uil-plus-circle" (click)="goToInput(element.id)"></i>
          <i class="uil uil-edit" (click)="openCreateUpdateSupplierModal('edit', element)"></i>
          <i class="uil uil-trash-alt" (click)="openDeleteProductModal(element.id)"></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <pagination-controls
      class="my-pagination"
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
    >
    </pagination-controls>
  </section>
</div>
