@import 'global';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 8rem;
  width: 100%;
  background-color: $blue;
  color: $white;
  font-size: 3.5rem;

  .profile {
    height: 6rem;
  }
}

.profile-info {
  @include flex-center;
  position: absolute;
  right: 4rem;
  gap: 2rem;

  .labels {
    color: $white;
    text-align: right;
    font-size: 1.7rem;
  }
}

.left-wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
  position: absolute;
  left: 4rem;

  .image {
    height: 6rem;
  }

  .uil {
    font-size: 5rem;
    cursor: pointer;
  }
}
.notifications {
  position: absolute;
  z-index: 4;
  left: 20rem;
}
