<app-loading class="loading" *ngIf="loading"></app-loading>
<div class="container" *ngIf="!loading">
  <section class="panel">
    <div class="search-bar-wrapper">
      <i class="uil uil-search-alt"></i>
      <input
        [(ngModel)]="searchInput"
        class="search-bar"
        (input)="onSearch(searchInput)"
        type="text"
        placeholder="Buscar"
      />
    </div>
    <div class="available">
      <p class="panel-title">Solicitudes Pendientes</p>
      <p class="panel-label">{{ pendingRequests }}</p>
    </div>
    <div class="available">
      <p class="panel-title">Solicitudes Activas</p>
      <p class="panel-label">{{ activeRequests }}</p>
    </div>
    <div class="buttons">
      <app-primary-button (btnClick)="generatePdf()" class="button">IMPRIMIR LISTADO</app-primary-button>
      <mat-form-field class="button">
        <mat-label>Filtro</mat-label>
        <mat-select
          [(ngModel)]="selectedFilter"
          (selectionChange)="onFilterChange($event.value)"
        >
          @for (filter of filterOptions; track filter) {
            <mat-option [value]="filter">{{ filter }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </section>
  <section class="table-container">
    <app-no-result *ngIf="filteredRequests.length === 0"></app-no-result>
    <table mat-table [dataSource]="filteredRequests | paginate: { itemsPerPage: 6, currentPage: page }" *ngIf="filteredRequests.length > 0" class="table">
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Estado</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer" (click)="openRequest(element.ID_Solicitud)">
          {{ element.Estado_Solicitud.Estado }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Empleado</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer" (click)="openRequest(element.ID_Solicitud)">
          {{ nameHelper.getShortName(element.Nombre_Empleado)  }}
        </td>
      </ng-container>
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Departamento</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer">
          {{ element.Departamento }}
        </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Fecha</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer" (click)="openRequest(element.ID_Solicitud)">
          {{ getDate(element.Fecha) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="timeOut">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Hora Salida</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer" (click)="openRequest(element.ID_Solicitud)">
          {{ getTime(element.Hora_Salida) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="timeIn">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Hora Regreso</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer" (click)="openRequest(element.ID_Solicitud)">
          {{ getTime(element.Hora_Regreso) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Ciudad</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer" (click)="openRequest(element.ID_Solicitud)">
          {{ element.Ciudad.Nombre }}
        </td>
      </ng-container>
      <ng-container matColumnDef="vehicle">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Vehículo</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer" (click)="openVehicle(element.Vehiculo)">
          {{ getVehicle(element.Vehiculo) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="driver">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Conductor</th>
        <td mat-cell *matCellDef="let element" class="table-cell pointer" (click)="openDriver(element.Conductor)">
          {{ getDriver(element.Conductor) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="table-cell title">Acciones</th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          <i class="uil uil-edit" (click)="openUpdateRequestModal(element)" *ngIf="canEdit(element)"></i>
          <i class="uil uil-times-circle" (click)="openRequestModal(element)" *ngIf="canCancel(element)"></i>
          <i class="uil uil-check-circle" (click)="openRequestModal(element, 'finish-request')"  *ngIf="canFinish(element)"></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <pagination-controls
      class="my-pagination"
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
    >
    </pagination-controls>
  </section>
  <app-date-filter class="date-filter" (dateRangeChanged)="filterDates($event)"></app-date-filter>
</div>
