<app-loading class="loading" *ngIf="loading"></app-loading>

<div class="container" *ngIf="!loading">
  <p class="title">Subir Archivo de Requisición</p>
  <p class="text">Una vez subido no se puede modificar. <strong>Esta acción no es reversible</strong></p>
  <app-file-drop class="file-uploader" (selectedFiles)="getFiles($event)"></app-file-drop>
  <div class="buttons">
    <app-primary-button styleClass="btn-red" class="btn" (btnClick)="onCancel()">Cancelar</app-primary-button>
    <app-primary-button class="btn" (btnClick)="onSubmit()">Confirmar</app-primary-button>
  </div>
</div>
