<app-loading class="loading" *ngIf="loading"></app-loading>

<div class="container" *ngIf="!loading">
  <p class="title">Remover {{ data.name }}</p>
  @for (batch of batches; track batch) {
    <div class="batch">
      <mat-radio-button [value]="batch" (click)="selectBatch(batch)">Lote {{ batch.id }}</mat-radio-button>
      <p class="batch-label">Cantidad: {{ batch.quantity }}</p>
      <p class="batch-label">Fecha de vencimiento: {{ getDate(batch) }}</p>
    </div>
  }
  <form [formGroup]="form" class="input-wrapper">
    <mat-form-field>
      <mat-label>Cantidad a remover</mat-label>
      <input
        matInput
        required
        type="number"
        min="1"
        formControlName="quantity"
        placeholder="Cantidad"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Razón</mat-label>
      <mat-select formControlName="motive">
        @for (motive of motives; track motive) {
          <mat-option [value]="motive">{{ motive }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Observaciones</mat-label>
      <input
        matInput
        required
        formControlName="observations"
        placeholder="Observaciones"
      />
    </mat-form-field>
  </form>
  <mat-error class="error" *ngIf="error">Recuerda llenar todos los campos requeridos*</mat-error>
  <mat-error class="error" *ngIf="amountError">No puedes quitar más de la cantidad del lote*</mat-error>
  <div class="buttons">
    <app-primary-button styleClass="btn-red" class="btn" (btnClick)="onCancel()">Cancelar</app-primary-button>
    <app-primary-button class="btn" (btnClick)="onSubmit()">Confirmar</app-primary-button>
  </div>
</div>
