<div class="container">
  <p class="title" *ngIf="!isCreate">Información de llenado de combustible</p>
  <p class="title" *ngIf="isCreate">Crear llenado de combustible</p>
  <div class="labels" *ngIf="!isCreate">
    <p>Fecha: <strong>{{ date }}</strong></p>
    <p>Estación de servicio:  <strong>{{ gasRefill.Estacion_Combustible }}</strong></p>
    <p>Cantidad:  <strong>{{ quantity }}</strong></p>
    <p>Kilometraje:  <strong>{{ gasRefill.Kilometraje_Recarga }} Km</strong></p>
    <p>Costo:  <strong>L.{{ gasRefill.Precio }}</strong></p>
    <p>Orden de combustible:  <strong>{{ gasRefill.Numero_Orden }}</strong></p>
    <p>Número de factura:  <strong>{{ gasRefill.Numero_Factura }}</strong></p>
  </div>

  <form *ngIf="isCreate" [formGroup]="gasForm" class="form">
    <div class="row">
      <mat-form-field>
        <mat-label class="label">Fecha</mat-label>
        <input formControlName="date" matInput [max]="maxDate" [matDatepicker]="picker" required>
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="label">Estación de Servicio</mat-label>
        <input
          matInput
          required
          class="input"
          formControlName="station"
          placeholder="Ingrese el nombre de la estación de combustible"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label class="label">Orden de Combustible</mat-label>
        <input
          matInput
          required
          type="number"
          class="input"
          formControlName="order"
          placeholder="Ingrese el número de orden de combustible"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label class="label">Número de Factura</mat-label>
        <input
          matInput
          required
          type="number"
          class="input"
          formControlName="bill"
          placeholder="Ingrese el número de la factura"
        >
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label class="label">Kilometraje</mat-label>
        <input
          matInput
          required
          [min]="data.log.Kilometraje_Salida"
          [max]="data.log.Kilometraje_Entrada"
          class="input"
          type="number"
          formControlName="kms"
          placeholder="Ingrese el kilometraje del vehículo al momento del llenado"
        >
      </mat-form-field>
      <mat-form-field class="money-field">
        <mat-label class="label">Costo</mat-label>
        <p class="lemps">L.</p>
        <input
          matInput
          required
          class="input money"
          type="number"
          step="0.01"
          formControlName="price"
          placeholder="Ingrese el costo en lempiras"
        >
      </mat-form-field>
      <div class="quantity">
        <mat-form-field class="field">
          <mat-label class="label">Cantidad</mat-label>
          <input
            matInput
            required
            class="input"
            type="number"
            step="0.01"
            formControlName="quantity"
            placeholder="Ingrese la cantidad"
          >
        </mat-form-field>
        <mat-form-field class="field">
          <mat-select formControlName="unit">
            @for (unit of units; track unit) {
              <mat-option [value]="unit">{{ unit.Unidad }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
  <mat-error class="error" *ngIf="error">Llena todos los campos requeridos</mat-error>
  <div class="buttons" *ngIf="isCreate">
    <app-primary-button styleClass="btn-red" class="btn" (btnClick)="onCancel()">Cancelar</app-primary-button>
    <app-primary-button class="btn" (btnClick)="onSubmit()">Guardar</app-primary-button>
  </div>
  <app-primary-button *ngIf="!isCreate" class="btn" (btnClick)="onCancel()">Listo</app-primary-button>
</div>
