<div class="container">
  <p class="title">Crear Grupo</p>
  <p class="label">Agrega el nombre y descripción del grupo</p>
  <mat-form-field class="field">
    <mat-label>Nombre del grupo</mat-label>
    <input
      matInput
      [(ngModel)]="groupName"
      placeholder="Ingrese el nombre del grupo"
    />
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Descripción del grupo</mat-label>
    <input
      matInput
      [(ngModel)]="description"
      placeholder="Ingrese la descripción del grupo"
    />
  </mat-form-field>
  <mat-error *ngIf="empty" class="error">Por favor llena el nombre del grupo</mat-error>
  <mat-error *ngIf="error" class="error">Ya existe una marca con ese nombre</mat-error>
  <div class="buttons">
    <app-primary-button styleClass="btn-red"  class="btn" (btnClick)="onCancel()">Cancelar</app-primary-button>
    <app-primary-button class="btn" (btnClick)="onSubmit()">Crear</app-primary-button>
  </div>
</div>
